<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
        var options = {
            "key": "rzp_test_38rXqc2qbSuPbe",
            "amount": "{{amount}}",
            "name": "Meego",
            "description": "Payment for Meego",
            "image": "https://www.dropbox.com/s/h5cut49srux8r6c/512.png?dl=1",
            "handler": function (response) {
                document.getElementById('link').href = '{{link}}?payment=' + response.razorpay_payment_id;
                document.getElementById('success').style.display = 'flex';
            },
            "prefill": {
                "name": "{{name}}",
                "email": "{{email}}",
                "contact": "{{phone}}"
            },
            "theme": {
                "color": "#fc3c49"
            },
            "modal": {
                "ondismiss": function() {
                    document.getElementById('failure').style.display = 'flex';
                }
            }
        };
        var rzp1 = new Razorpay(options);
        window.onload = function() {
              rzp1.open();
        }
</script>
<body >
  <div id="success" style="height:100vh;width:100%;display:none;justify-content:space-around;align-items:center;flex-direction:column">
    <div style="display:flex;flex-direction:column;align-items:center">
      <span style="display:flex">You've successfully cleared your balance.</span>
      <span style="display:flex"> Press proceed below to continue.</span>
      <span style="display:flex">(Do not press the back button)</span>
    </div>
    <a style="display:flex;width:50%" id="link" class="button is-success">Proceed</a>
  </div>
  <div id="failure" style="height:100vh;width:100%;display:none;justify-content:space-around;align-items:center;flex-direction:column">
    <div style="display:flex;flex-direction:column;align-items:center">
      <span style="display:flex">Payment unsuccesful.</span>
      <span style="display:flex"> Press retry below to try again.</span>
    </div>
    <div style="display:flex;width:50%" id="link" onclick="rzp1.open()" class="button is-danger">Retry</div>
  </div>
</body>
