<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="This is the password reset page for Meego.">
	<meta name="author" content="">
	<link rel="icon" type="image/png" href="/favicon.png">

	<title>Reset Password</title>

	<link href="/css/bootstrap-grid.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:700,800%7COpen+Sans:400,600,700" rel="stylesheet">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/resetPassword.js"></script>
</head>
<body>


	<div class="nav-wrapper" id="nav-wrapper">
		<nav class="navbar navbar-static navbar-affix" data-spy="affix" style="background:#f7105b;">
			<div class="container" style="width: 95%!important">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar top-bar"></span>
						<span class="icon-bar middle-bar"></span>
						<span class="icon-bar bottom-bar"></span>
					</button>
					<a class="logo" href="http://www.meego.co" ><img src="logo-inner.png" alt="Meego"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<button type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar top-bar"></span>
						<span class="icon-bar middle-bar"></span>
						<span class="icon-bar bottom-bar"></span>
					</button>

				</div>
			</div>
		</nav>
	</div>


	<section id="page-contacts">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-6">

							<h2 class="spanned"><span>Opening Hours:</span> 24/7</h2>
							<p>Any business, support related queries and feedbacks are welcome.  We at Meego would love to hear from you at <span style="color:#f7105b">support@meego.co</span></p>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6">
							<ul class="address">
								<li class="large"><span class="fa fa-phone"></span>98721-11746</li>
								<li><span class="fa fa-skype"></span>meegosupport</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 contact-form">

					<form class="form form-sm form-validate" onsubmit="event.preventDefault();" id="form">
						<h3 class="aligncenter">Forgot Password</h3>
						<div class="form-group">
							<label>New Password <span class="red">*</span></label>
							<input type="password" id="name" name="password" placeholder="New Password" class="form-control">
						</div>
						<div class="form-group">
							<label>Confirm Password <span class="red">*</span></label>
							<input type="password" id="email" name="confirmPassword" placeholder="Confirm New Password" class="form-control">
						</div>
						<input type="button" value="Submit" onclick="onSubmit()" class="btn btn-yellow aligncenter btn-lg">
						<input type="hidden" id="type" name="token" value="{{token}}" class="ajaxField">
					</form>
				</div>
			</div>
		</div>
	</section>

	<section id="block-footer">
		<div class="container" style="width: 95%!important">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
					<h4>MOTTO</h4>
					<p>Meego is a one stop solution for all types of virtual and on-ground travel support. We at Meego will make sure that you have a wonderful experience with us and come back for more. We care for your safety and thus aim to provide you with the best travel services.</p>

					<div class="social-small social-yellow">
						<a href="https://www.facebook.com/meego.co/" target="_blank" class="fa fa-facebook" style="color: #ffffff;"></a>
						<a href="https://www.instagram.com/meego.co/" target="_blank" class="fa fa-instagram" style="color: #ffffff;"></a>
						<a href="https://twitter.com/meego_co" target="_blank" class="fa fa-twitter" style="color: #ffffff;"></a>
						<!-- <a href="#" class="fa fa-google-plus" style="color: #ffffff;"></a>
						<a href="#" class="fa fa-pinterest" style="color: #ffffff;"></a> -->
					</div>
				</div>
				<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">
					<h4>Explore</h4>
					<div class="row">
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<!-- <li class="active"><a href="#homepage-block-2">Request a Call</a></li> -->
								<li><a href="why-meego.html">Why Meego</a></li>
								<li><a href="services-page-main.html">Services</a></li>
								<li><a href="tariff-page.html">Tariffs</a></li>
								<li><a href="https://play.google.com/store/apps/details?id=com.meego.meego&hl=en">Application</a></li>
								<li><a href="frequently-asked-questions.html">FAQ</a></li>


							</ul>
						</div>
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li><a href="become-a-guide.html">Become a Guide</a></li>
								<li><a href="about-us.html">About us</a></li>
								<li><a href="contacts.html">Contact Us</a></li>
								<li><a href="http://blog.meego.co/">Blog</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">
					<h4>Contact us</h4>
					<p><span class="yellow" style="color: #ffffff;">Address:</span> Express Trade Tower, 1701, 7th Floor, B-36, Sector - 132, Express way, Noida - 201301</p>

					<ul class="address">
						<li><span class="fa fa-phone"></span>98721-11746</li>
						<li><span class="fa fa-envelope"></span><a href="mailto:support@meego.co">support@meego.co</a></li>
						<li><span class="fa fa-envelope"></span><a href="mailto:careers@meego.co">careers@meego.co</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

<footer>


		<div class="container" style="width: 95%!important">
			<a>Helmsmen Travel Solutions Pvt. Ltd.</a> 2017 © All Rights Reserved <a href="terms-of-service.html">Terms of use</a> & <a href="privacy-policy.html">Privacy Policy</a>
			<a href="#" class="go-top hidden-xs hidden-ms"></a>
		</div>
	</footer>
</body>
</html>
